/.ipynb_checkpoints/
/.virtual_documents/
/docs/book_examples/.ipynb_checkpoints/
/docs/book_examples/images/.ipynb_checkpoints/
/tryouts/
/docs/book_examples/images/
/dist/
/docs/book_examples/.virtual_documents/
/python_control.egg-info/
